/* Kaitlyn Fitzgerald 4/11/2022 */

body {
    background-color: rgb(250, 224, 228);
}

.indent {
    text-indent: 15px;
}

.bold {
    font-weight: bold;
    font-size: 22px ;
}

.bolder {
    font-size: 28px;
    font-weight: bolder;
}

.visited {
    color: blue;
}