/* Kaitlyn Fitzgerald 4/11/2022 */

body {
    background-color: rgb(250, 224, 228);
}

.indent {
    text-indent: 20px;
}

.bold {
    font-weight: bold;
    font-size: 22px ;
}

.resumetitle {
    font-size: 28px;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.link {
    color: blue;
    text-decoration: underline;
}

.goto {
    text-align: center;
    color: mediumpurple;
    text-decoration: underline;
}